global:
  scrape_interval: 5s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'recommender-service'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['recommender-service:8081']

  - job_name: 'policy-service'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['policy-service:8082']

  - job_name: 'gitops-bot'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['gitops-bot:8083']