server:
  port: 8081

spring:
  application:
    name: recommender-service
  data:
    mongodb:
      uri: mongodb://localhost:27017/kubefinops
  cloud:
    stream:
      kafka:
        binder:
          brokers: localhost:9092
          configuration:
            security.protocol: SASL_PLAINTEXT
            sasl.mechanism: SCRAM-SHA-256
            sasl.jaas.config: org.apache.kafka.common.security.scram.ScramLoginModule required username="user1" password="password";
      bindings:
        recommendationCreated-out-0:
          destination: recommendation.created
          content-type: application/json

prometheus:
  url: http://localhost:9090

minio:
  url: http://localhost:9000
  access-key: admin
  secret-key: password
  bucket: kubefinops-reports

app:
  scheduler:
    rate: 30000
    delay: 5000

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus