server:
  port: 8081

spring:
  application:
    name: recommender-service
  data:
    mongodb:
      uri: mongodb://localhost:27017/kubefinops
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

prometheus:
  url: http://localhost:9090

minio:
  url: http://localhost:9000
  access-key: admin
  secret-key: password
  bucket: kubefinops-reports

app:
  scheduler:
    rate: 30000
    delay: 5000

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus