server:
  port: 8082

spring:
  application:
    name: policy-service
  data:
    mongodb:
      uri: mongodb://localhost:27017/kubefinops
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: policy-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "io.kubefinops.*"

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  metrics:
    tags:
      application: ${spring.application.name}
