server:
  port: 8082

spring:
  application:
    name: policy-service
  data:
    mongodb:
      uri: mongodb://localhost:27017/kubefinops
  cloud:
    function:
      definition: validateRecommendation
    stream:
      kafka:
        binder:
          brokers: localhost:9092
          configuration:
            security.protocol: SASL_PLAINTEXT
            sasl.mechanism: SCRAM-SHA-256
            sasl.jaas.config: org.apache.kafka.common.security.scram.ScramLoginModule required username="user1" password="password";
      bindings:
        validateRecommendation-in-0:
          destination: recommendation.created
          group: policy-group
          content-type: application/json
        recommendationApproved-out-0:
          destination: recommendation.approved
          content-type: application/json
        policyViolated-out-0:
          destination: policy.violated
          content-type: application/json

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  metrics:
    tags:
      application: ${spring.application.name}
