server:
  port: 8083

spring:
  application:
    name: gitops-bot
  cloud:
    function:
      definition: handleApprovedRecommendation
    stream:
      kafka:
        binder:
          brokers: localhost:9092
          configuration:
            security.protocol: SASL_PLAINTEXT
            sasl.mechanism: SCRAM-SHA-256
            sasl.jaas.config: org.apache.kafka.common.security.scram.ScramLoginModule required username="user1" password="password";
      bindings:
        handleApprovedRecommendation-in-0:
          destination: recommendation.approved
          group: gitops-bot-group
          content-type: application/json
        prCreated-out-0:
          destination: gitops.pr.created
          content-type: application/json

gitops:
  repo:
    url: file:///tmp/gitops-repo-sim
    branch: master
    clone-path: /tmp/kubefinops-gitops-clone

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
