server:
  port: 8083

spring:
  application:
    name: gitops-bot
  cloud:
    function:
      definition: handleApprovedRecommendation;monitorSync
    stream:
      kafka:
        binder:
          brokers: ${SPRING_CLOUD_STREAM_KAFKA_BINDER_BROKERS:infra-kafka:9092}
          configuration:
            security.protocol: SASL_PLAINTEXT
            sasl.mechanism: SCRAM-SHA-256
            sasl.jaas.config: org.apache.kafka.common.security.scram.ScramLoginModule required username="user1" password="password";
      bindings:
        handleApprovedRecommendation-in-0:
          destination: recommendation.approved
          group: gitops-bot-group
          content-type: application/json
        monitorSync-in-0:
          destination: recommendation.approved
          group: sync-monitor-group
          content-type: application/json
        prCreated-out-0:
          destination: gitops.pr.created
          content-type: application/json
        changeApplied-out-0:
          destination: change.applied
          content-type: application/json

gitops:
  repo:
    url: https://github.com/dawidbera/smarthealth-gitops.git
    branch: master
    username: ${GITOPS_GIT_USER:}
    password: ${GITOPS_GIT_TOKEN:}
    clone-path: /tmp/kubefinops-gitops-clone

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
